input,
select,
textarea {
  font-size: ms(0);
}


input {
  height: 40px;
  padding: 0 0.5rem;
}

select {
  height: 35px;
}

label {
  font-size: ms(0);
}
button {
  @include button-reset();
  color: $color--button-bg;

  margin-top: 0.5rem;
  margin-bottom: 0.5rem;

  & ~ button {
    margin-left: 0.5rem;
  }

  &:hover,
  &:active {
    background: $color--button-bg;
    color: $color--button-text;
  }
}
