
@import '../../node_modules/normalize-scss/sass/normalize';
@import '../../node_modules/modularscale-sass/stylesheets/modularscale';

// Base Imports
@import 'base/variables';
@import 'base/type';
@import 'base/inputs';

html,body {
  margin: 0;
  padding: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
}

#root {
  // min-height: 100%;
  // width: 100%;
  height: 100%;
  // position: relative;
}

.app {
  height: 100%;
  padding: 10px;
}
